<div data-role="header"data-position="fixed" data-theme="d" >
<h1>旅アプリ</h1>
</div>
<br />
<div style="margin:0 3px;">
    <ul data-role="listview" data-theme="c" data-inset="true">
      <li>
        <a href="http://localhost:3000/records#/records/new">新規登録</a>
      </li>
	</ul>
</div>
<br />
<div style="margin:0 3px;">
<ul data-role="listview" data-theme="c" data-inset="true">
<% @records.each do |record| %>
<b><basefont size="5"><%= link_to record.country, record %></basefont></b>	<%= link_to 'Destroy', record, :confirm => 'Are you sure?', :method => :delete %>
<br /><br /><br />
<% end %>
</ul>
</div>

<br />

<div data-role="footer">
	<h4>ruby on rails</h4>
</div>