<div data-role="header"data-position="fixed" data-theme="d" >
<html>
<% t = Time.now %>
<% if (6..11).include?(t.hour) %>
	<h1>おはようございます！旅アプリへようこそ。</h1>
<% elsif (12..18).include?(t.hour) %>
	<h1>こんにちは！旅アプリへようこそ。</h1>
<% else %>
	<h1>こんばんは！旅アプリへようこそ。</h1>
<% end %>
<p>現在時刻： [<%= t.strftime("%Y-%m-%d %H:%M:%S") %>]</p>
</html>
</div>
<br />
<div style="margin:0 3px;">
    <ul data-role="listview" data-theme="c" data-inset="true">
      <li>
        <a href="http://localhost:3000/records#/records/new">新規登録</a>
      </li>
	</ul>
</div>
<br />
<div style="margin:0 3px;">
<ul data-role="listview" data-theme="c" data-inset="true">
<% @records.each do |record| %>
<b><basefont size="5"><%= link_to record.country, record %></basefont></b>	<%= link_to 'Destroy', record, :confirm => 'Are you sure?', :method => :delete %>
<br /><br /><br />
<% end %>
</ul>
</div>

<br />



<div data-role="footer">
	<h4>ruby on rails</h4>
</div>